<header class="row">
  <div class="navigation col-lg-1">
    <h1>{{ title }}</h1>
  </div>
</header>

<div class="row">
  <div class="col-lg-6">
    <app-login></app-login>
  </div>
  <div class="col-lg-6">
    <app-register></app-register>
  </div>
</div>



<div *ngIf="identity">
  <div class="row">
    <div class="central col-lg-12">
      <p>Estas logeado en la apliación</p>
      <div class="jumbotron">
        <h4>Datos</h4>
        <span>Nombre: </span><b>{{ identity.name }}</b>
        <br>
        <span>Apellidos: </span><b>{{identity.surname}}</b>
        <br>
        <button class="btn btn-primary" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>


<footer>
  Created by: SPU
</footer>
